.h-header,
.h-footer {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.h-aside {
  color: #333;
}

.demo-block-source {
  .h-header,
  .h-footer {
    text-align: center;
  }

  .h-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
  }

  .h-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  & > div > .h-container {
    margin-bottom: 40px;

    &:nth-child(5) .h-aside,
    &:nth-child(6) .h-aside {
      line-height: 260px;
    }

    &:nth-child(7) .h-aside {
      line-height: 320px;
    }
  }
}
